---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
          <div>
            <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
            <h1 class="catalogue-title"><a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">{{ post.title }}</a></h1>
            <div class="catalogue-line"></div>

            <p>
              {{ post.content | strip_html | truncatewords: 30 }}
            </p>
          </div>
        </li>
  {% endfor %}
    </ul>

    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
      {% endif %}
      <span>{{ paginator.page }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
      {% endif %}

    </div>

    <p class="feed-subscribe">
      <a href="{{ 'feed.xml' | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
      </a>
    </p>
  {%- endif -%}

</div>
